{% extends "base.html" %} {% block content %}
<form id="downloadForm">
  <input
    type="text"
    id="ytlinktext"
    name="ytlinktext"
    placeholder="Enter YT Video URL"
  />
  <select name="quality">
    {% for quality in video_qualities %}
    <option value="{{ quality.value }}">{{ quality.title }}</option>
    {% endfor %}
  </select>
  <br />
  <input type="checkbox" id="audioonly" name="audioonly" value="low" />
  <label for="audioonly">Download Audio only</label>
  <br />
  <button type="button" onclick="fetchVideo()">Download Video</button>
</form>
<div id="download-progress-container" style="display: none">
  <progress id="download-progress" value="0" max="100"></progress>
  <span id="download-percentage">0%</span>
</div>
<div id="download-link"></div>
<div id="download-status"></div>

<script>
  function fetchVideo() {
    var downloadStatus = document.getElementById("download-status");
    downloadStatus.innerHTML = "Downloading";

    // Animation for the download status
    var dotCount = 0;
    var downloadAnimation = setInterval(function () {
      dotCount = (dotCount + 1) % 4;
      downloadStatus.innerHTML = "Downloading" + ".".repeat(dotCount);
    }, 500); // Adjust the speed of dots appearing by changing the interval time

    var ytlinktext = document.getElementById("ytlinktext").value;
    var quality = document.querySelector('select[name="quality"]').value;
    var audioonly = document.getElementById("audioonly").checked;

    console.log("downloading starting,,,,");
    console.log({
      ytlinktext: ytlinktext,
      quality: quality,
      audioonly: audioonly,
    });

    fetch("/proxy", {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
      },
      body: new URLSearchParams({
        ytlinktext: ytlinktext,
        quality: quality,
        audioonly: audioonly,
      }),
    })
      .then((response) => response.blob())
      .then((blob) => {
        console.log("blob got, creating link");
        var url = window.URL.createObjectURL(blob);
        var a = document.createElement("a");
        //a.style.display = "none";
        a.href = url;
        // Generate a filename based on the current datetime
        var currentDateTime = new Date()
          .toISOString()
          .replace(/[\-\:\.]/g, "")
          .slice(0, 15);
        var filename = "ytvideo-" + currentDateTime + ".mp4";
        a.download = filename;
        console.log("going to add link");
        document.body.appendChild(a);
        console.log("added link");
        a.click();
        console.log("clicked link");
        window.URL.revokeObjectURL(url);
        console.log("revoiked object yurl");
        document.body.removeChild(a);
        clearInterval(downloadAnimation); // Stop the animation when download is ready
        downloadStatus.innerHTML = "Downloaded";
      })
      .catch((error) => {
        console.error("Error:", error);
        clearInterval(downloadAnimation); // Stop the animation on error
        downloadStatus.innerHTML = "Error in downloading. Try again!";
      });
  }
</script>
{% endblock %}
